<div class="introduction">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        <core:icon identifier="apps-pagetree-folder-root" size="small" />
                        <strong>
                            <f:translate key="LLL:EXT:aws_about/Resources/Private/Language/Modules/locallang.xlf:introduction.support" />
                        </strong>
                    </h4>
                    <ul>
                        <li>
                            Commercial support available from <a href="https://t3rrific.com" target="_blank">t3rrific.com</a>.
                        </li>
                        <li>
                            Free community support at <a href="https://typo3.slack.com" target="_blank">typo3.slack.com</a>.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        <core:icon identifier="apps-pagetree-folder-root" size="small" />
                        <strong>
                            <f:translate key="LLL:EXT:aws_about/Resources/Private/Language/Modules/locallang.xlf:introduction.links-and-resources" />
                        </strong>
                    </h4>
                    <ul>
                        <li>
                            More about the <a href="https://t3rrific.com/typo3-on-aws/" target="_blank">TYPO3-on-AWS</a> Initiative.
                        </li>
                        <li>
                            Official <a href="https://docs.typo3.org" target="_blank">TYPO3 Documentation</a>.
                        </li>
                        <li>
                            Official <a href="https://docs.aws.amazon.com" target="_blank">Amazon Web Services</a> documentation.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
