<div class="introduction">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        <core:icon identifier="apps-pagetree-folder-root" size="small" />
                        <strong>
                            <f:translate key="LLL:EXT:aws_about/Resources/Private/Language/Modules/locallang.xlf:introduction.headline" />
                        </strong>
                    </h4>
                    <p>
                        <f:translate key="LLL:EXT:aws_about/Resources/Private/Language/Modules/locallang.xlf:introduction.bodytext" />
                    </p>
                    <ul>
                        <li>
                            <a href="https://typo3.slack.com" target="_blank">typo3.slack.com</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4>
                        <core:icon identifier="install-documentation" size="small" />
                        <strong>
                            <f:translate key="LLL:EXT:aws_about/Resources/Private/Language/Modules/locallang.xlf:introduction.documentation" />
                        </strong>
                    </h4>
                    <ul>
                        <li>
                            <a href="https://typo3-on-aws.org" target="_blank">TYPO3-on-AWS</a>
                        </li>
                        <li>
                            <a href="https://docs.typo3.org" target="_blank">TYPO3 Content Management System</a>
                        </li>
                        <li>
                            <a href="https://docs.aws.amazon.com" target="_blank">Amazon Web Services</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
